<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>PERFROMUNG JINJA OPERATIONS</h1>
        <h1>{% if a > b %}</h1>
            <h1>This is If BLOCK</h1>
            <h1>{{a}} is grater then {{b}}</h1>
            <h1> a is grater then b</h1>
        <h1>{% else %}</h1>
            <h1>This is else BLOCK</h1>
            <h1>{{b}} is grater then {{a}}</h1>
            <h1> b is grater then a</h1>
        <h1>{% endif %}</h1>
    </center>
</body>
</html>